* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #edf2f8;
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1.7;
  font-size: 13px;
  height: 100vh;

  /* ------ example begins ------------------------ */

  display: grid;
  grid-template-areas:
    'header header header'
    'nav content sidebar'
    'nav footer footer';

  /* and now to size everything */
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 80px 1fr 70px;
  /* you can use a combination of units as well */
}

header,
footer,
main,
aside,
nav {
  background-color: steelblue;
  color: #fff;
  padding: 20px;
  border: skyblue 1px solid;
}

header {
  grid-area: header;
  /* this matches in grid-template-areas, but not a string lol, so weird */
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}
